body {
  background-color: #282c34;
  color: whitesmoke;
  text-align: center;
}

.App {
  display: flex;
}

.hijo {
  width: 33.3%;
  height: calc(25vh - 100px);
  border: 1px solid white;
}

.colores {
  display: flex;
}

.color {
  width: 22px;
  height: 22px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.color:nth-child(1) {
  background-color: #ff0000;
}

.color:nth-child(2) {
  background-color: #8a2be2;
}

.color:nth-child(3) {
  background-color: #008000;
}

.color:nth-child(4) {
  background-color: #ff8c00;
}

img {
  width: 100%;
  vertical-align: top;
}

.idiomas {
  display: flex;
  justify-content: center;
}

.bandera {
  width: 75px;
  margin: 10px;
}

.botones {
  text-align: center;
}

.botones button {
  width: 150px;
  background-color: whitesmoke;
  padding: 5px 8px;
  margin: 10px;
  border-radius: 5px;
  border: 1px dotted darkorange;
  color: black;
  background-color: white;
  font-size: 1.05em;
}

.profesora,
.ubicacion {
  width: 40vw;
  text-align: center;
  border-radius: 8px;
  background-color: teal;
  padding-bottom: 15px;
  color: whitesmoke;
  margin: auto;
}

.profesora{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
}

.foto{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.image{
  width: 50%;
}